$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
@import 'fontface';


@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
/*@include fontFace('Bello','fonts/Bello-Script');*/

@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir.ttc");
}

$default-font: Ubuntu, Helvetica, sans-serif;

$font-body: Avenir;

$content-width: 1024px;

$menu-height: 61px;
$menu-padding-x: 10px;
$menu-padding-y: 10px;
$menu-options-width: 478px;
$bridge-height: 3px;

$header-height: 236px;

$nav-height: 25px;

$blue-main: rgb(55,169,224);
$green-main: rgb(46,237,196);
$green-main-a85: rgba(46,237,196,0.85);
$light-gray: rgb(204,204,204);
$dark-gray: rgb(102,102,102);

$banner-color: #ffffff;